DATABASE_URL="postgresql://games:games@localhost:5432/games?schema=public"

NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="change-me-with-openssl-rand-base64-32"

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""

RAWG_API_KEY=""
